trigger:
 branches:
   include:
     - main

pool:
  name: Default

stages:
  - stage: rgbuilding
    displayName: "build-stage"
    jobs:
      - job: buildjob
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTask@5
            displayName: terraform init
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: 'D:\Dec_Revision_starting\infra\Azure_landing_zone\environments\dev'
              backendServiceArm: 'Antimsangram'
              backendAzureRmResourceGroupName: 'nitesh1'
              backendAzureRmStorageAccountName: 'niteshstg1'
              backendAzureRmContainerName: 'ashremote'
              backendAzureRmKey: 'ashremotestate.tf'
          
          - task: TerraformTask@5
            displayName: terraform validate
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: 'D:\Dec_Revision_starting\infra\Azure_landing_zone\environments\dev'
          
          - task: tfsec@1
            inputs:
              version: 'v1.26.0'
              args: '--format junit,json --out tfsec-results'
              dir: 'D:\Dec_Revision_starting\infra\Azure_landing_zone\environments\dev'
          
          - task: TerraformTask@5
            displayName: terraform plan
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: 'D:\Dec_Revision_starting\infra\Azure_landing_zone\environments\dev'
              environmentServiceNameAzureRM: 'Antimsangram'

  - stage: 
    displayName: manualvalidation"
    pool: server
    dependsOn: rgbuilding
    jobs:
      - job: 
        steps:
         - task: ManualValidation@1
           inputs:
             notifyUsers: 'kr.ashwinikumarjha@gmail.com'
             instructions: 'New Rg deployment requirement by client'
  
  - stage: rgdeploy
    displayName: "deploy-stage-apply"
    pool:
     name: Default
    jobs:
      - job: 
        steps:
         - task: TerraformTask@5
           displayName: terraform apply
           inputs:
             provider: 'azurerm'
             command: 'apply'
             workingDirectory: 'D:\Dec_Revision_starting\infra\Azure_landing_zone\environments\dev'
             environmentServiceNameAzureRM: 'Antimsangram'
